<header class="g-header">
    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav-left">
        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <nav class="g-nav g-nav-search">
        <ul>
            {% if site.search %}
            <li class="search-card">
                <input id="search_input" type="text" placeholder="Search...">
                <i class="iconfont icon-search"></i>
                <div class="search_result"></div>
            </li>
            {% endif %}
        </ul>
    </nav>

</header>
